

  main {
    background: linear-gradient(45deg, pink, purple, rgb(56, 56, 99));
    padding: 0;
  }
 #blog, 
  #jobs,
  #upcoming-events,
  #news {
    background: linear-gradient(45deg, pink, purple, rgb(56, 56, 99));
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  


.intro-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.intro-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/Sunset\ Animated\ Illustration.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.intro-text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #963b3b;
  font-size: 30px;
}

.intro-text h1 {
  margin: 0;
  font-size: 40px;
}

.intro-text p {
  margin-top: 10px;
}

.job-card {
  border: 1px solid #2e2c2c;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #efcccc;
  overflow: hidden; /* Prevent text overflow */
}

.job-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-description {
  margin-bottom: 20px;
  max-height: 600px; /* Set maximum height */
  overflow: hidden;
}

.job-location {
  color: #666;
}

.job-cta {
  text-align: right;
}

.job-cta a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.job-cta a:hover {
  color: #007bff;
}

.read-more {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav .nav-link {
  color: #19ede6; /* Set the text color for the nav links */
}

.navbar-nav {
  background-color: #213f76; /* Replace with your desired darker shade of blue */
}

  .card-columns {
    column-count: 4;
    column-gap: 1.25rem;
  }
  
  .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 5;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 5;
    }
  }
  
  body {

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

     
}

  .navbar-nav .nav-link {
    text-align: right;
  }
  
  .navbar-nav .nav-link:hover {
    text-decoration: underline;
  }
  .card-sm {
    max-width: 300px; /* Adjust the desired width */
  }
  .small-img {
    width: 100%; /* Adjust the maximum width as needed */
    height: auto;
  }
 